# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

.idea/
venv/
__pycache__/
*.pyc

your_content/.DS_Store
.DS_Store
your_content/.DS_Store
your_content/themes/.DS_Store
your_content/.DS_Store
your_content/.DS_Store
your_content/themes/.DS_Store
your_content/themes/default:css/.DS_Store

# Compiled output
/build/